body {
    background: linear-gradient(190deg, rgba(144, 205, 97, 1) 0%, rgba(144, 205, 97, 1) 50%, rgba(57, 149, 69, 1) 50%, rgba(57, 149, 69, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 10px;
}