html {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(144,205,97);
    background: linear-gradient(190deg, rgba(144,205,97,1) 0%, rgba(144,205,97,1) 50%, rgba(57,149,69,1) 50%, rgba(57,149,69,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 10px;
    padding-bottom: 2em;
}


/* -----removed from mobile view. outer semi-clear border-------- */
/* main {
    background-color: rgba(255, 255, 255, .8);
    margin: 2em;
    padding: 2em;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
} */

h1 {
    font-size: 2rem;
    color: white;
    padding: 3em 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 2px;
    line-height: 1.3em;
    background: linear-gradient(180deg, rgba(191,135,46,1) 0%, rgba(191,135,46,1) 50%, rgb(160, 117, 47) 50%, rgb(160, 117, 47) 100%);
    border-radius: 5px;
    border-top-left-radius: 0;
}

hr {
    height: 3px;
    border: none;
    background-color: rgb(160, 117, 47);
    width: 90%;
    margin: 2em auto;
}

#description {
    font-size: 1.3rem;
    margin: 1em 0 0;
    color: rgb(138, 138, 138);
}

#title, #description {
    text-align: center;
}

#content {
    background-color:rgba(255, 255, 255, .85);
    padding: 1em;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

fieldset {
    font-size: 1.1rem;
    margin: 1em 0;
    margin-bottom: 2em;
    border: 5px solid;
    border-radius: 10px;
    padding: 0 0;
    border-top-color: rgba(144,205,97,1);
    border-left-color: rgba(144,205,97,1);
    border-bottom-color: rgba(57,149,69,1);
    border-right-color: rgba(57,149,69,1);
}

fieldset:nth-of-type(4) {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
}

legend {
    font-size: 1.8rem;
    color: rgb(160, 117, 47);
    margin: auto;
    text-align: center;
}

#personal {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#personal label {
    margin: 0.5em 0.5em 0.3em 0.5em;
}

label {
    display: block;
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
}

input[type=text], input[type=email], input[type=date] {
    margin: 0 .7em .7em;
    padding: .7em;
    font-size: 1.2rem;
    transition: all 250ms;
}

input[type=text]:focus, input[type=email]:focus, input[type=date]:focus {
    border: 2px solid rgb(144,205,97);
    outline: none;
    border-radius: 10px;
}

#age {
    margin-bottom: 1.5em;
}

p {
    font-size: 1.2rem;
    margin: 1em .5em 1.5em .5em ;
}

#play-section {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#play-section label {
    padding: .5em;
}

#play-rate {
    list-style-type: none;
    padding: 0;
    margin: 0 0 1em 0;
}
#play-rate label {
    padding: .4em 0 .4em .4em;
    font-size: 1.2rem;
}

input[type=number] {
    margin: 0 .7em .7em;
    padding: .7em;
    font-size: 1.2rem;
    width: 50%;
    transition: 250ms;
}

input[type=number]:focus {
    border: 2px solid rgb(144,205,97);
    outline: none;
    border-radius: 10px;
}

input[type=radio] {
    margin: 0 1em 0 0;
    padding: 0;
    transform: scale(1.5);
}

input[type=checkbox] {
    padding: 0;
    margin: 0 1em 0 0;
    transform: scale(1.5);
}

#games {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#games-legend {
    font-size: 1.6rem;
}

#games label {
    padding: 0.7em;
    font-size: 1.3em;
}

#favorites {
    font-size: 1.5rem;
    text-align: center;
    color: rgb(160, 117, 47);
    padding-bottom: .7em;
}

#feedback {
    padding: 0 0 1em;
    width: 100%;
}

select {
    outline: none;
    transition: 250ms;
}

select:focus {
    border: 2px solid rgb(144,205,97);
    border-radius: 10px;
}

#drop-down {
    font-size: 1.1rem;
    display: table;
    margin: 0 auto;
    padding: .7em;
    width: 70%;
}

#final-feed {
    padding: 0;
    width: 100%;
    margin: 0 0 1.3em 0;
}

#comment {
    font-size: 1rem;
    display: table;
    margin: 0 auto;
}

textarea {
    padding: .3em .5em;
    outline: none;
}

textarea:focus {
    border: 2px solid rgb(144,205,97);
    border-radius: 10px;
}

#submit {
    color: white;
    background: linear-gradient(180deg, rgba(191,135,46,1) 0%, rgba(191,135,46,1) 50%, rgb(160, 117, 47) 50%, rgb(160, 117, 47) 100%);
    font-size: 1.5em;
    display: table;
    margin: 1em auto;
    padding: .4em 1em;
    border: 1px solid black;
    border-radius: 5px;
    transition: box-shadow 250ms
}

#submit:hover, #submit:active {
    background: rgba(191,135,46,1);
    /* background: linear-gradient(180deg, rgba(191,135,46,1) 0%, rgba(191,135,46,1) 50%, rgb(160, 117, 47) 50%, rgb(160, 117, 47) 100%); */
    box-shadow: 0px 10px 10px -6px #000000;
}

button {
    cursor: pointer;
}